body{
	background-color: #1a1a1a;
}

.wrap{
	font-family: 'Roboto', sans-serif;
	color: white;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
}

nav{
	padding-top: 3.5rem;
	padding-bottom: 1.5rem;
	position: relative;
}

nav .container{
	max-width: 1600px;
	padding-left: 3rem;
	padding-right: 3rem;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-column-gap: 1.5rem;
	grid-template-columns: 3fr 9fr;
}

nav .menuWrap{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav .menuWrap .menu{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: right;
	font-size: .9375em;
	opacity: 1;
}

nav .menuWrap .menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: right;
	font-size: .9375em;
	opacity: 1;
}

nav .menuWrap .menu li{
	display: inline-block;
	margin-right: 2rem;
	position: relative;
}

nav .menuWrap .menu li a{
	color: white;
	text-decoration: none;
	-webkit-transition: .3s;
	transition: .3s;
	opacity: .5;
}

nav .menuWrap .menu li a:hover{
	opacity: 1;
}

section{
	max-width: 734px;
	margin-top: 6.5rem;
	margin-right: auto;
	margin-left: auto;
}

.header{
	text-align: center;
	margin-bottom: 5rem;
}

.header h1{
	font-weight: 400;
	font-size: 4.5rem;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}

.header h1 span{
	font-weight: 900;
}

.header p{
	max-width: 650px;
	margin-right: auto;
	margin-left: auto;  
	margin-top: 2rem;
	margin-bottom: 0; 
	font-size: 1.2em;
	line-height: 1.5;
	color: #909090;
	opacity: 1;
}

.header p strong{
	color: white;
}

.why{
	margin-bottom: 13rem;
}

.why div{
	padding-top: 5rem;
}

.why div span{
	position: absolute;
	font-size: 5.5rem;
	font-weight: 900;
	opacity: 0.05;
}

.why div div{
	margin-top: -2.7rem;
	margin-left: 2.3rem;
}

.why div div h3{
	font-size: 1.625em;
	font-weight: 400;
}

.why div div p{
	font-size: 1.2em;
	line-height: 1.5;
	opacity: .5;
}

.story{
	margin-bottom: 10rem;
}

.story h1{
	font-weight: 400;
	font-size: 3.5rem;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 2.5rem;
}

.story p{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 1.2em;
	line-height: 1.5;
	color: #909090;
	opacity: 1;
}

.story p strong{
	color: white;
}

.story a{
	color: white;
	opacity: 1;
	text-decoration: none;
	transition: 300ms;
	font-size: 1.2em;
	line-height: 1.5;
}

.story a:hover{
	opacity: 0.5;
}