.container{
    margin-bottom: 13.5rem;
    padding-top: 8rem;
    @media screen and (max-width: 767px){
        margin-bottom: 3rem;
        padding-top: 1.5rem;
    }
}

.title{
    margin-bottom: 4rem;
    h3{
        margin: 0;
        font-weight: 400;
    }
}

.newsWrapper{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    @media screen and (max-width: 666px){
        grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (min-width: 667px) and (max-width: 1023px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1600px){
        grid-column-gap: 3.5rem;
    }
}

.loading{
    grid-column-start: span 4;
    padding: 10rem;
    text-align: center;
}

.advert{
    grid-column-start: span 1;
    text-align: center;    
    border-radius: 10px;
    background: #212121;
    padding: 2rem;
    width: 400px;
    height: 290px; 
    display: block;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 10rem;
    transition: all .15s ease-in-out;
    color: white;
    text-decoration: none;
    cursor: pointer !important;
    
    &:hover{
        transform: scale(1.05);
    }

    h3{
        font-size: 3rem;
        text-transform: uppercase;
        max-width: 340px;
        margin: 0;
        padding-left: 0;
        line-height: 60px;
        margin: auto;
    }

    div{
        padding-top: 2rem;
        padding-left: 0;
        max-width: 450px;
        margin: auto;
        span{
            font-size: 1.3rem;
        }
        p{
            font-size: 1.15rem;
        }
    }

    @media screen and (min-width: 666px){
        grid-column-start: span 2;
    }

    @media screen and (min-width: 1024px){
        grid-column-start: span 3;
    }
   
    @media screen and (min-width: 1182px){
        text-align: left;
        grid-column-start: span 3;
        padding: 2.5rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 1000px;
        height: 150px; 
        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 7rem;
        margin-bottom: 10rem;

        h3{
            font-size: 3rem;
            margin: 0;
            padding-left: 2rem;
        }
    
        div{
            padding-top: 0.3rem;
            padding-left: 3.5rem;
            max-width: 500px;
        }
    }

}

