.container{
    margin-bottom: 15rem;
    max-width: 1030px;
}
.wrapper{
    max-width: 620px;
    p{
        font-size: 1.375em;
        opacity: 0.35;
        line-height: 1.45;
    }
}
.title{
    font-size: 5.125em;
    font-weight: 700;
    margin-bottom: 4rem
}