.container{
    max-width: 768px;
    margin-bottom: 15rem;
}
.title{
    font-size: 4.1875em;
    font-weight: 500;
}
.top{
    max-width: 415px;
    margin: 0 auto 5rem;
    text-align: center;
    p{
        font-size: 1.375em;
        opacity: 0.35;
        line-height: 1.45;
    }
}