.container{
    margin-bottom: 15rem;
    max-width: 1030px;
    @media screen and (max-width: 767px){
        margin-bottom: 5rem;
    }
}
.wrapper{
    max-width: 620px;
}
.title{
    margin-top: 2rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 767px){
        margin-bottom: 1rem;
    }
    h1{
        font-size: 5.125em;
        font-weight: 700;
        margin: 0;
        @media screen and (max-width: 767px){
            font-size: 2.125em;
        }
    }
}