.container{
    margin-bottom: 15rem;
    max-width: 1030px;
    @media screen and (max-width: 767px){
        margin-bottom: 5rem;
    }
}
.wrapper{
    max-width: 620px;
}
.title{
    font-size: 5.125em;
    font-weight: 700;
    margin-bottom: 4rem;
    @media screen and (max-width: 767px){
        font-size: 2.125em;
        margin-bottom: 2rem;
    }
}