.container{
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10vh;
    position: relative;
    margin-bottom: 10rem;
    @media screen and (max-width: 767px){
        padding-top: 5vh;
    }
}
.Title{
    font-size: 6.5625em;
    line-height: 1.15;
    text-transform: uppercase;
    font-weight: 900;
    max-width: 960px;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    position: relative;
    z-index: 2;
    margin-top: 15vh;
    @media screen and (max-width: 567px){
        font-size: 2em;
        grid-column: 1 / 4;
    }
    @media screen and (min-width: 568px) and (max-width: 767px){
        font-size: 3em;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 4em;
        margin-top: 7.5vh;
    }
}
.parallaxTxt{
    position: absolute;
    top: -10vh;
    left: 60%;
    z-index: -1;
}
.shadowText{
    color: var(--white);
    opacity: 0.07;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18em;
    line-height: 1.13;
    max-width: 1800px;
    @media screen and (max-width: 767px){
        font-size: 10em;
    }
}
.parallaxImg{
    max-width: 100%;
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    @media screen and (max-width: 767px){
        grid-column: 2 / 5;
        margin: 0;
    }
}
.winnerImg{
    max-width: 100%;
    border-radius: 1%;
}