.container{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 15rem;
    @media screen and (max-width: 767px){
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 2rem;
        margin-bottom: 10rem;
    }
}
.title{
    max-width: 420px;
    grid-column: 1 / 4;
    margin: 2rem 0;
    @media screen and (max-width: 767px){
        grid-column: 1 / 5;
        margin-bottom: 1.5rem;
    }
    h1{
        font-size: 4.1875em;
        margin: 0;
        @media screen and (max-width: 767px){
            font-size: 2.125em;
        }
    }
}