.col{
    grid-row: 2;
    @media screen and (max-width: 1023px){
        margin-bottom: 1.5rem;
    }
    p{  
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.title{
    margin: 0 0 1.5rem;
    h3{
        font-size: 1.625em;
        font-weight: normal;
        margin: 0;
        @media screen and (max-width: 767px){
            font-size: 1.25em;
        }
    }
}