.BodyTextAnimationWrapper{
    position: relative;
    display: inline-block;
}
.BodyTextAnimationText{
    opacity: 0;
    animation-fill-mode: both;
    @media screen and (max-width: 767px){
        opacity: 1;
    }
    .animated-in &{
        animation-name: fadeInUp;
        @media screen and (max-width: 767px){
            animation: none;
        }
    }
}

  
@keyframes fadeInUp {
    from {
        opacity: 0; 
        transform: translateY(1rem);
    }
    to {
        opacity: 1; 
        transform: translateY(0);
    } 
}