.container{
    text-align: center;
    margin-bottom: 3rem;
}
.top{
    text-align: center;
    padding: 0;
    margin: 0 0 1rem;
    list-style: none;
    opacity: 1;
    li{
        margin: 0 1rem;
        display: inline-block;
    }
    a, .link{
        font-size: 0.9em;
        color: var(--white);
        transition: 300ms;
        text-decoration: none;
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }
    }
    .link{
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline;
        margin: 0;
        padding: 0;
    }
    .onionlink{
        a{
            &:hover{
                cursor: copy;  
            }
        }
        .oniontooltip{
            font-size: 0.9rem;
            background-color: #2c2c2c !important;
            max-width: 185px;
        }
    }
}
.right{
    font-size: 0.7em;
    opacity: 0.5;
    margin-bottom: 1rem;
}
.powered{
    font-size: 0.8em;
    opacity: 0.64;
}