.container{
    text-align: center;
    margin-bottom: 3rem;
}
.top{
    text-align: center;
    padding: 0;
    margin: 0 0 1rem;
    list-style: none;
    li{
        margin: 0 1rem;
        display: inline-block;
    }
    a{
        font-size: 0.9em;
        color: var(--white);
        transition: 300ms;
        text-decoration: none;
        opacity: 0.86;
        &:hover{
            opacity: 0.35;
        }
    }
}
.right{
    font-size: 0.7em;
    opacity: 0.5;
    margin-bottom: 1rem;
}
.powered{
    font-size: 0.8em;
    opacity: 0.64;
}