.container{
    margin-bottom: 8rem;
}
.title{
    margin-bottom: 4rem;
    h3{
        margin: 0
    }
}
.newsWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 666px){
        grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (min-width: 667px) and (max-width: 767px){
        grid-template-columns: repeat(2, 1fr);
    }
}
.buttonWrapper{
    margin-top: 2rem;
    text-align: center;
}