.newsItem{
    margin-bottom: 3rem;
}
.author,
.meta{
    font-size: 0.75em;
    color: #535353;
    > :first-child{
        color: #656565;
    }
    > :last-child{
        color: #8C8C8C;
    }
}
.newsTitle{
    font-size: 1.3em;
    margin: 1rem 0;
    line-height: calc(32/21);
    a{
        color: white;
        text-decoration: none;
        transition: opacity 300ms;
        &:hover{
            opacity: 0.5;
        }
        &:visited{
            color: #8C8C8C;
        }
    }
}

.bigheader{
    grid-column-start: span 1;
    grid-row: span 3;

    a{
        color: white;
        text-decoration: none;
        transition: opacity 300ms;
        
        &:hover{
            opacity: 0.5;
            cursor: pointer;
        }
        &:visited{
            color: white;
        }
    }

    h2{
        font-size: 2.0625em;
        margin: 0;
    }

    div{
        padding-bottom: 0.4rem;
        padding-bottom: 1rem;
        p{
            font-size: 1rem;
            margin-top: 3rem;
            position: relative;
        }

        p:after {
            content: "";
            display: block;
            position: absolute;
            background-image: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 100%);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }

    .meta{
        display: none;
    }

    
    @media screen and (min-width: 666px){
        grid-column-start: span 2;
        grid-row: span 3;
        h2{
            font-size: 4.0625em;
        }
        div{
           
            p{
                font-size: 1.563rem;
            }
        }
    }
}
