.notice{
    display: block;
    background-color: #008800;
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;

    div{
        display: flex;
        width: max-content;
        margin: auto;
        align-items: center;
        
        @media screen and (max-width: 767px){
            width: auto;
        }

        img{
            width: 1rem;
            height: auto;
            padding-right: 1rem;
        }
        
        p{
            color: white;
            margin: 0;
            font-size: 0.9rem;
            opacity: 1;
            
            span{
                padding-left: 0.25rem;
                color: white;
                text-decoration: underline;
            }
        }
    }
}