.title{
    margin-bottom: 2rem;
    h3{
        margin: 0;
        font-weight: normal;
    }
}
.subTitle{
    margin-bottom: 1.5rem;
    :global .h1{
        font-weight: 500;
        @media screen and (max-width: 767px){
            font-size: 2.5em;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px){
            font-size: 3em;
        }
    }
}
.desc{
    margin-bottom: 3rem;
    :global p{
        margin: 0;
    }
}