.title{
    margin: 0 0 1.5rem;
    h3{
        font-size: 1.625em;
        font-weight: normal;
        margin: 0;
        @media screen and (max-width: 767px){
            font-size: 1.25em;
        }
    }
}